<app-loading-mask [loading]="loading"></app-loading-mask>
<div class="saleDetailModal">
    <div class="modal-header">
        <h1 class="h-text orange">
            Venda {{ data.sale.id }}
        </h1>
    </div>
    <div class="modal-body">
        <div class="container-modal">
            <h2>Cliente: {{ data.sale.client.name }}</h2>
            <a *ngIf="!data.sale.finish_later" [popover]="popTemplate">
                {{ data.sale.value | currency: 'BRL' }} *
            </a>
            <h3 *ngIf="data.sale.finish_later">
                Encomenda: {{ data.sale.value | currency: 'BRL' }}
            </h3>
        </div>
        <table class="table odd table-sale">
            <thead>
            <tr>
                <th class="static-400">Descricao</th>
                <th class="static-200">Tamanho</th>
                <th class="static-200">Qnt</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let saleProduct of saleProducts">
                <td class="static-400">
                    {{ saleProduct.product.name }}
                </td>
                <td class="static-200">
                    {{ saleProduct.product.size }}
                </td>
                <td class="static-200">
                    {{ saleProduct.quantity }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <p class="btn btn-lg btn-orange"> Apagar venda </p>
        <!--<p class="btn btn-lg btn-orange" *ngIf="!data.sale.finish_later"> Realizar Troca </p>-->
        <p class="btn btn-lg btn-orange" *ngIf="!data.sale.finish_later" (click)="generateTaxCupom()"> Gerar relatório </p>
        <p class="btn btn-lg btn-orange" (click)="finishOrder()" *ngIf="data.sale.finish_later"> Finalizar venda</p>
    </div>
</div>

<ng-template #popTemplate>
    <div class="popover-div">
        <h1>Pagamentos:</h1>
        <p *ngFor="let payment of payments">
            {{ payment.paymentMethod }}: {{ payment.value | currency: 'BRL' }}
        </p>
        <p *ngIf="(totalReceived - data.sale.value) > 0">
            Troco: {{ (totalReceived - data.sale.value) | currency: 'BRL' }}
        </p>
    </div>
</ng-template>
