@import "~src/_variables.scss";

h1 {
    text-align: center;
    font-family: "Microsoft JhengHei", serif;
    position: relative;
    color: white;
    margin: .25em auto;
    width: 70%;
}

h2 {
    color: green;
    display: inline-block;
    font-size: 3em;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 15px 0 5px 0;

    &.small-font {
        font-size: .75em;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 20px;
    }
}

h3 {
    font-size: 1em;
    font-family: "Microsoft JhengHei Light", serif;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

#body-form {
    height: 90%;
}

form {
    height: 80%;
    padding: 0 10px;
}

form div {
    position: relative;
    height: 20%;
    padding: 0 10px;
}

input, label {
    display: block;
    text-align: center;
}

.data {
    width: 100%;
}

#output {
    text-align: center;
}

#sent {
    margin: 0;
    padding-bottom: 10px;
}

.orange {
    background-color: $primary-color;
    color: white;
}

.btn-lg {
    width: 300px;
    margin: 20px;
}

.footer {
    margin-bottom: 20px;
}
