<app-loading-mask [loading]="!ready"></app-loading-mask>
<div class="container">
    <div class="container-filter">
        <div class="form-group">
            <label class="sr-only" for="productName">Pesquisar</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="icon is-small">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <input class="form-control" [(ngModel)]="typeaheadText"
                       [typeahead]="products" typeaheadOptionField="name"
                       [typeaheadScrollable]="true" (typeaheadOnSelect)="onTypeaheadSelect($event)"
                       [typeaheadOptionsInScrollableView]="9" [typeaheadOptionsLimit]="99"
                       [typeaheadItemTemplate]="customItemTemplate" placeholder="Produto">
            </div>
            <div class='input-group w-10'>
                <label class="sr-only" for="productQnt">Qnt</label>
                <input type='number' class="form-control" id="productQnt" placeholder="Qnt" [(ngModel)]="qnt"/>
            </div>
            <button class="btn btn-orange" (click)="add()" [disabled]="disabled">
                Adicionar
            </button>
        </div>
    </div>
    <table class="table odd table-sale">
        <thead>
        <tr>
            <th class="static-400">Descricao</th>
            <th class="static-400">Tamanho</th>
            <th class="static-400">Qnt</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of selectedProducts">
            <td class="static-400">
                <span class="del" (click)="removeProduct(product.id)">
                    <i class="fas fa-trash-alt"></i>
                </span>
                {{ product.name }}
            </td>
            <td class="static-400">
                {{ product.size }}
            </td>
            <td class="static-400">
                {{ product.quantity }}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="bottom">
        <h3> Fazer transferência
        </h3>
        <div class="form-group select">
            <label>
                <select class="form-control" id="select-store" [(ngModel)]="store" [value]="store">
                    <option *ngFor="let storeSelection of storesOptions"
                            [value]="storeSelection">
                        {{ storeSelection }}
                    </option>
                </select>
            </label>
            <button class="btn btn-orange" (click)="updateStock()" [disabled]="disabled">
                Transferir estoque
                <span *ngIf="disabled" class="spin inline-block">
                    <i class="fa fa-spinner fa-spin"></i>
                </span>
            </button>
        </div>
    </div>
</div>

<ng-template #customItemTemplate let-model="item" let-index="index">
    <h5>{{ model.name }} {{ model.size }}</h5>
</ng-template>
