<app-loading-mask [loading]="sending"></app-loading-mask>

<div class="finish-sale">
<!--Sale or order-->
    <h2 *ngIf="type !== typesOfSale.TRADE">
        <span [ngClass]="{'line-through': (sale.value != sale.original_value)}">
            {{ sale.original_value | currency : 'BRL' }}
        </span>
        <span *ngIf="sale.value != sale.original_value">
            {{ sale.value | currency : 'BRL' }}
        </span>
    </h2>

    <!--Trade-->
    <h2 *ngIf="type === typesOfSale.TRADE">
        <span [ngClass]="{'line-through': (trade.value != trade.original_value)}" *ngIf="trade.original_value >= 0">
            {{ trade.original_value | currency : 'BRL' }}
        </span>
        <span *ngIf="trade.value != trade.original_value">
            {{ trade.value | currency : 'BRL' }}
        </span>
        <span *ngIf="trade.original_value < 0">
            &nbsp; (Crédito) {{ (-1 * trade.original_value) | currency : 'BRL' }}
        </span>
    </h2>
    <a class="h-link block" (click)="openDiscountModal()" *ngIf="type === typesOfSale.SALE || (type === typesOfSale.TRADE && trade.original_value > 0)"> Dar desconto </a>
    <div class="btn-toolbar" data-toggle="buttons">

        <label class="btn btn-default opt" id="Dinheiro" [ngClass]="{active: btnSelected == 'Dinheiro'}"
               (click)="selectButton('Dinheiro')">
            <input type="radio" name="options"> <img src="assets/images//Dinheiro.png" alt=""> <br> Dinheiro
        </label>
        <label class="btn btn-default opt" id="Cheque" [ngClass]="{active: btnSelected == 'Cheque'}"
               (click)="selectButton('Cheque')">
            <input type="radio" name="options"> <img src="assets/images//Cheque.png" alt=""> <br> Cheque
        </label>

        <label class="btn btn-default opt" id="Débito" [ngClass]="{active: btnSelected == 'Débito'}"
               (click)="selectButton('Débito')">
            <input type="radio" name="options"> <img src="assets/images//Debito.png" alt=""> <br> Débito
        </label>

        <label class="btn btn-default opt" id="Crédito" [ngClass]="{active: btnSelected == 'Crédito'}"
               (click)="selectButton('Crédito')">
            <input type="radio" name="options"> <img src="assets/images//Credito.png" alt=""> <br> Crédito
        </label>

        <label class="btn btn-default opt" id="Transferência" [ngClass]="{active: btnSelected == 'Transferência'}"
               (click)="selectButton('Transferência')">
            <input type="radio" name="options"> <img src="assets/images//money-transfer.png" alt=""> <br> Transferência
        </label>

    </div>

    <div class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" placeholder="Valor" (keyup.enter)="addToSale()"
                       [(ngModel)]="addPayment" [disabled]="type === typesOfSale.TRADE && trade.original_value <= 0">
            </div>
        </div>
        <button class="btn btn-default" (click)="addToSale()" [disabled]="type === typesOfSale.TRADE && trade.original_value <= 0">Adicionar</button>
    </div>

    <div class="row">
        <div class="col-md-6 vendas">
            <h1>Pagamentos</h1>
            <table class="table odd table-payment">
                <thead>
                <tr>
                    <th class="static-400">Forma de Pagamento</th>
                    <th class="static-200">Valor</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let payment of salePayment.payments">
                    <td class="static-400">
                        <span class="del" (click)="removePayment(payment.type)">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                        {{ payment.type }}
                    </td>
                    <td class="static-200">
                        R$ {{ payment.value | number : '1.2-2'}}
                    </td>
                </tbody>
                <tfoot>
                <tr>
                    <th class="static-400">Total:</th>
                    <th class="static-200">R$ {{ salePayment.cashReceived | number : '1.2-2' }}</th>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="col-md-6 money-labels">
            <h3>
                Recebido:
                <span [ngClass]="(salePayment.cashReceived >= (sale ? sale.original_value : trade.original_value)) ? 'green' : 'red'">
                    {{ salePayment.cashReceived | currency : 'BRL' }}
                </span>
            </h3>
            <h3>
                Falta Receber:
                <span class="green">
                    {{ salePayment.cashToReceive | currency : 'BRL' }}
                </span>
            </h3>
            <h3>
                <span *ngIf="type === typesOfSale.TRADE && trade.original_value >= 0">
                    Troco:
                </span>
                <span *ngIf="type !== typesOfSale.TRADE  || trade.original_value < 0">
                    Crédito:
                </span>
                <span class="green">
                    {{ salePayment.change | currency : 'BRL' }}
                </span>
            </h3>
        </div>
    </div>
    <div class="final-btn">
        <button class="btn orange" (click)="backPage()">
            Voltar a tela
        </button>

        <button class="btn orange" id="end-sale"
                [disabled]="sending" (click)="finalize()">
            Finaliza venda
        </button>
    </div>
</div>
