@import "~src/_variables.scss";

// TODO REFATORAR

h2 {
    padding-top: 10px;
    color: green;
    font-size: 4.6em;
    text-align: center;
}

img {
    width: 90px;
    margin: .3em;
}

.btn-toolbar {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    margin: auto;
    align-content: center;
}

.opt {
    width: 17.5% !important;
    margin: 1.25% !important;
}

.form-inline {
    padding-left: 6%;
}

.vendas {
    padding-left: 6%;
    padding-top: 3%;
}

.green {
    color: green;
    font-size: 1.5em;
}

.red {
    color: red;
    font-size: 1.5em;
}

.right {
    float: right;
    margin-right: 3%;
}

h3 {
    text-align: center;
    float: left;
    width: 100%;
    overflow: hidden;
}

.green, .red {
    float: right;
}

.final-btn {
    text-align: center;
    margin: 20px 0;

    button {
        margin: 20px 50px 0 50px;
        width: 300px;
        padding: 12px;
        font-size: 15px;
    }
}

.money-labels {
    padding-right: 5%;
}

.table-payment {
    tbody {
        height: 70px;
    }

    tfoot {
        th:last-child {
            text-align: center;
        }
    }
}
