<div id="menu">

    <div id="footer">
        <div class="container-fluid menu">
            <div class="btn-group btn-group-justified">
                <a class="btn" id="sale" (click)="openSaleScreen()">
                    <img src="assets/images/register.png" alt="">
                    <br><br> Efetuar Venda
                </a>
                <a class="btn" id="sangria">
                    <img src="assets/images/money.png" alt="">
                    <br><br> Fazer Sangria
                </a>
                <a href="#" class="btn" id="storage">
                    <img src="assets/images/truck.png" alt="Truck">
                    <br><br> Transferir Estoque
                </a>
            </div>

            <div class="btn-group btn-group-justified">
                <a href="#" class="btn" [routerLink]="['/seller/search-sale']">
                    <img src="assets/images/search_money.png" alt="">
                    <br><br> Pesquisar Venda
                </a>
                <a href="#" class="btn " id="reports-menu">
                    <img src="assets/images/report.png" alt="">
                    <br><br> Ver Relatórios
                </a>
                <a href="#" class="btn" id="log-out">
                    Sair
                </a>
            </div>
        </div>
    </div>
</div>
