<div id="menu">
    <div id="footer">
        <div class="container-fluid menu">
            <div class="btn-group btn-group-justified">
                <a class="btn" id="sale" (click)="openSaleScreen()">
                    <img src="assets/images/register.png" alt="">
                    <br><br> Efetuar Venda
                </a>
                <a class="btn" (click)="openWithdrawModal()">
                    <img src="assets/images/money.png" alt="">
                    <br><br> Fazer Sangria
                </a>
                <a href="#" class="btn" [routerLink]="['/seller/stock-transfer']">
                    <img src="assets/images/truck.png" alt="Truck">
                    <br><br> Transferir Estoque
                </a>
            </div>

            <div class="btn-group btn-group-justified">
                <a class="btn" [routerLink]="['/seller/search-sale']">
                    <img src="assets/images/search_money.png" alt="">
                    <br><br> Pesquisar Venda
                </a>
                <a class="btn " [routerLink]="['/seller/report']">
                    <img src="assets/images/report.png" alt="">
                    <br><br> Ver Relatórios
                </a>
                <a [routerLink]="['/seller/check-orders']" class="btn" id="log-out">
                    <img src="assets/images/list.png" alt="">
                    <br><br> Encomenda
                </a>
            </div>
        </div>
    </div>
</div>
