<div class="div-table">
    <div class="container-filter">
        <h2>Filtros</h2>
        <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
            <div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputSearch" placeholder="Nome"
                               name="name" ngModel #name>
                        <span class="input-group-addon">
                        <i class="fas fa-search"></i>
                    </span>
                    </div>

                    <div class="input-group">
                        <mat-form-field>
                            <input matInput ngModel name="initialDate" #initialDate [matDatepicker]="picker"
                                   placeholder="De"
                                   [(ngModel)]="initial_date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <input ngModel name="finalDate" #finalDate matInput [matDatepicker]="picker2" placeholder="Até"
                               [(ngModel)]="final_date">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                    <div class="input-group">
                        <label for="order">Só encomenda</label>
                        <input type="checkbox" name="order" id="order">
                    </div>
                </div>
            </div>

            <button class="btn btn-orange orange" id="btn-pesquisa" [disabled]="disabled">
                Pesquisar
                <span *ngIf="disabled">
                    <i class="fa fa-spinner fa-spin"></i>
                </span>
            </button>
        </form>
    </div>

    <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="sales" class="mat-table odd" *ngIf="sales.length">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id</th>
                <td mat-cell *matCellDef="let sale">
                    <img src="assets/images/plus-icon.png" (click)="openSaleDetailModal(sale)">
                    {{sale.id}}
                </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data</th>
                <td mat-cell *matCellDef="let sale"> {{sale.datetime | date : 'short'}} </td>
            </ng-container>

            <!-- Cpf Column -->
            <ng-container matColumnDef="cpf">
                <th mat-header-cell *matHeaderCellDef> Cpf</th>
                <td mat-cell *matCellDef="let sale">
                    {{sale.client.cpf}}
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome</th>
                <td mat-cell *matCellDef="let sale"> {{sale.client.name}} </td>
            </ng-container>

            <!-- Payment Column -->
            <ng-container matColumnDef="payments">
                <th mat-header-cell *matHeaderCellDef> Pagamentos</th>
                <td mat-cell *matCellDef="let sale">
                    {{ sale.payments | paymentPipe }}
                </td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type</th>
                <td mat-cell *matCellDef="let sale">
                    {{ sale.TYPE }}
                </td>
            </ng-container>

            <!-- Value Column -->
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> Valor</th>
                <td mat-cell *matCellDef="let sale">
                    {{ sale.value | currency : 'BRL' }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
