<div class="discountModal">
    <div class="modal-header">
        <span class="close" (click)="closeModal()">
            &times;
        </span>
        <h2 class="h-text orange">
            Dar Desconto
        </h2>
    </div>
    <div class="slidecontainer">
        <mat-slider min="0" max="10" class="slider" (change)="onSlideChange()" [(ngModel)]="discount"></mat-slider>
    </div>
    <span class="discount block">
        {{ discount}} %
    </span>
    <mat-checkbox class="client-discount" [(ngModel)]="checked" *ngIf="clientDiscount > 0">
        Aplicar desconto de {{ clientDiscount | currency: 'BRL' }} (Devido ao crédito do cliente)?
    </mat-checkbox>
    <p class="btn btn-lg btn-orange pull-right" (click)="applyDiscount()">
        Dar Desconto
    </p>
</div>
