@import "~src/_variables.scss";

/* Modal Header */
.discountModal {
    position: relative;
    height: 100%;
    background-color: $primary-color;
}

.modal-header {
    padding: 2px 16px;
    background-color: $primary-color;
    color: white;
    border-bottom: none;
}

span {
    font-size: 1.1em;
    margin: .3em;
    color: white;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    text-align: center;
}

.slider {
    width: 90%;
    margin: 0 auto;
    opacity: 0.7;
}

.btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
