@import "~src/_variables.scss";

nav {
    height: 10vh;
}

.my-container {
    width: 100%;
}

.navbar-default {
    background-color: $primary-color;
    margin: -1px !important;
    max-width: 100%;
    border-color: $primary-color;
}

.navbar-brand {
    padding: 20% 20%;
}

.navbar-text {
    color: white !important;
    font-size: 1.25em !important;
}

.navbar-right {
    margin-right: 15px !important;
    margin-bottom: 3px !important;
    margin-top: 3px !important;
}

.add-client {
    font-size: 1em;
    margin-bottom: 3px !important;
    margin-top: 3px !important;
    background: transparent;
    color: white;
    border-color: white !important;
}

nav img {
    width: 30px;
}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Modal Header */
.modal-header {
    display: block;
    padding: 2px 16px;
    background-color: $primary-color;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    background-color: $primary-color;
    color: white;
}

.modal-h2 {
    width: 100%;
    color: white;
    text-align: center;
    align-self: center;
    font-size: 4em;
    padding: .25em;
}

.active {
    background-color: #afffbd !important;

    td {
        background-color: #afffbd !important;
    }
}

span.close {
    font-size: 20px;
    cursor: pointer;
}

.m-l-0 {
    padding: 0;
    margin-left: 0;
}

.table-container {
    min-height: 300px;
    max-height: 350px;
    overflow: auto;

    table {
        width: 100%;

        tr {
            cursor: pointer;
        }
    }
}

.mat-elevation-z8 {
    box-shadow: none;
}
