<nav class="navbar navbar-default">
    <div class="my-container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="assets/images/man.png">
            </a>
        </div>
        <p class="navbar-text m-l-0"> {{ (client | async).name }}
        </p>
        <p class="navbar-text navbar-right">
            <a class="btn add-client" (click)="toggleModal(true)" *ngIf="type === typesOfSale.SALE">
                +
            </a>
        </p>
    </div>
</nav>

<div id="myModal" class="modal" [ngClass]="{'visible': isModalOpen}">
    <div class="modal-content">
        <div class="modal-header">
            <span class="pull-right close" (click)="toggleModal(false)">&times;</span>
            <h2 class="modal-h2">Consultar Cliente</h2>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Produto"
                           (keyup)="searchClients($event.target.value)">
                    <div class="input-group-addon">
                        <span class="icon is-small is-right">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
                <table class="table odd">
                    <thead>
                    <tr>
                        <th class="static-400">Nome</th>
                        <th class="static-200">CPF</th>
                        <th class="static-300">Email</th>
                    </tr>
                    </thead>
                </table>
                <table class="table odd able-click">
                    <tbody>
                        <tr *ngFor="let client of clients; let i of index" (click)="selectClient(client, i)" [class.active]="i == selectedRow">
                            <td class="static-400"> {{ client.name }} </td>
                            <td class="static-200"> {{ client.cpf }} </td>
                            <td class="static-300"> {{ client.email }} </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="modal-footer">
            <p class="btn btn-lg btn-orange" (click)="openNewClientModal()"> Adicionar Novo </p>
            <p class="btn btn-lg btn-orange" (click)="addToSale()"> Adicionar a venda </p>
        </div>
    </div>
</div>
