<div id="popup">
    <div class='jumbotron' [ngClass]="data.type">
        <img src="assets/images/{{ data.type }}.png" alt="">
    </div>
    <h2>
        {{ data.title }}
    </h2>
    <p>
        {{ data.text }}
    </p>
    <div id='field'>
        <button class="btn" *ngIf="!confirmationModal" [ngClass]="data.type" (click)="closeModal(undefined)">
            Ok
        </button>
        <button class="btn" *ngIf="confirmationModal" [ngClass]="data.type" (click)="closeModal(false)">
            Não
        </button>
        &nbsp;&nbsp;&nbsp;
        <button class="btn" *ngIf="confirmationModal"  [ngClass]="data.type" (click)="closeModal(true)">
            Sim
        </button>
    </div>
</div>
