@import "../../../theme";

.client {
    z-index: 1;
    position: relative;
    text-align: center;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    padding: .3em;
}

.pesquisa {
    width: 100%;
    margin-bottom: 20px !important;
}

.form-group {
    margin: 0 10em 1.75em 10em;
}
