<app-loading-mask [loading]="loading"></app-loading-mask>

<hot-table [data]="data" [colHeaders]="true"
           [rowHeaders]="true" [width]="600"
           [height]="300" [columnSorting]="true" licenseKey="non-commercial-and-evaluation">
    <hot-column [columnSorting]="true" data="name" [readOnly]="true" title="Nome do Produto"></hot-column>
    <hot-column data="size" [readOnly]="true" title="Tamanho"></hot-column>
    <hot-column data="stock" [readOnly]="true" title="Estoque {{ store }}"></hot-column>
</hot-table>
s
