<div class="report">
    <h1>Pueri Store</h1>
    <div class="infos clearfix">
        <div class="pull-left">
            <h3 class="vendedor">Vendedor: {{ user.first_name }} {{ user.last_name }}</h3>
            <h3 class="vendedor" *ngIf="client.id != 0">
                {{ client.name }}
            </h3>
        </div>
        <div class="loja">
            <h3>
                Unidade: {{ store }}
            </h3>
            <h3>
                {{ date | date : "dd/MM/yy hh:mm a"}}
            </h3>
        </div>
    </div>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <div class="max-size">
        <table class="table table-sale" *ngIf="type === 1 || trade.purchasedProducts.length > 0">
            <thead>
            <tr>
                <th class="static-600">Descricao</th>
                <th class="static-300">Tamanho</th>
                <th class="static-300">Qnt</th>
                <th class="static-200">Preço Unitario</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
                <td class="static-600">
                    {{ product.name }}
                </td>
                <td class="static-300">
                    {{ product.size }}
                </td>
                <td class="static-300">
                    {{ product.quantity }}
                </td>
                <td class="static-200">
                    {{ product.price_sell | currency : 'BRL' }}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th class="static-600"></th>
                <th class="static-300"></th>
                <th class="static-300 text-center">Total:</th>
                <th class="static-200 text-center">R$ {{ total_value | number : '1.2-2' }}</th>
            </tr>
            </tfoot>
        </table>

        <p *ngIf="returnedValue"> Valor de produtos retornados: {{ returnedValue | currency : 'BRL' }} </p>
        <p *ngIf="discount"> Desconto: {{ discount }} %</p>
        <p *ngIf="clientDiscount"> Crédito do cliente aplicado: {{ clientDiscount | currency : 'BRL' }}</p>
        <p>Valor total da venda : {{ value | currency : 'BRL' }}</p>
        <p *ngIf="change > 0">Total Recebido: {{ (value + change) | currency : 'BRL' }}</p>
        <p *ngIf="change > 0">Troco: {{ change | currency : 'BRL' }}</p>
        <p *ngIf="payments.length">Forma de Pagamento:</p>
        <p *ngFor="let payment of payments">
            - {{ payment.type }} {{ payment.value | currency: 'BRL' }}
        </p>
    </div>
</div>
