<div class="main-content">
    <mat-tab-group selectedIndex="0" (selectedTabChange)="changeTab($event)">
        <mat-tab label="Ver Estoque">
            <div class="full-height">
                <app-check-stock *ngIf="tabIndex === 0" [type]="stockType.VISUALIZE"></app-check-stock>
            </div>
        </mat-tab>
        <mat-tab label="Editar Estoque">
            <div class="full-height">
                <app-check-stock *ngIf="tabIndex === 1" [type]="stockType.EDIT"></app-check-stock>
            </div>
        </mat-tab>
        <mat-tab label="Receber Estoque">
            <div class="full-height">
                <app-check-stock *ngIf="tabIndex === 2" [type]="stockType.ADD"></app-check-stock>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
